<% article = @article %>
<% if @article.comments.length > 0 %>
<p id="notice"><%= notice %></p>
<% @article.comments.each do |comment| %>
<div id="comment">
  <%= comment.user.ident %> :
  <br>
  <%= comment.body %>
  <div class="published_on"> <%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></div>
</div>
<% end %>
<% else %>
<div>No comment</div>
<% end %>
<br>
