<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<% @articles.each do |article| %>
  <%= link_to "#{article.title}", article %><br>
<% end %>
<br>

<%= link_to 'New Article', new_article_path %>
