<%= form_tag controller: :users, action: :create do %>
  <label>Nickname (Input your SWLAB account name.)</label>
  <%= text_field :user, :ident, class: "form-control" %>

  <%= button_tag "Submit", class: "btn btn-default" %>
<% end %>
