/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.treeview
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "offcanvas";

a {
  color: #777777;
}
a:hover {
  color: #000000;
  background: #ffffff;
}
a:visited {
  color: #555555;
}

.unclear-link, .unclear-link:hover {
  cursor: default;
  color: #000000;
  text-decoration: none;
  background: #ffffff;
}

.home{
    padding: 1em;
}

.toplabel {
    background: rgba(0, 0, 0, 0) -moz-linear-gradient(left center , #696969, #f5f5f5) repeat scroll 0 0;
    margin: -16px -16px 0;
    padding: 1px 0 0 10px;
}

h1.contents-title {
    color: #fff;
    font-size: 26px;
    margin: 5px 0;
}

.title-bar {
    border-color: gray;
    border-style: solid;
    border-width: 0 0 1px 10px;
    float: left;
    margin: 5px 0 5px;
    padding: 0 0 0 10px;
    width: 100%;
}

.private {
    border-color: #ff9933;
    color: #ff9933;
}

.private-title-bar {
    @extend .private;
    @extend .title-bar;
}

h2.title {
    color: gray;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
}

h3.title {
    margin: 15px 0 15px;
    font-size: 125%;
}

img {
    margin: 13px 0 13px;
}
