/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.treeview
 *= require font-awesome
 *= require_self
 *= require blueimp-gallery
 *= require bootstrap-image-gallery
 *= require blueimp-gallery-indicator
 *= require blueimp-gallery-video
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import "offcanvas";

@import "articles";
@import "comments";
@import "scaffolds";
@import "users";

@import "syntax";

a {
  color: #777777;
}
a:hover {
  color: #000000;
  background: #ffffff;
}
a:visited {
  color: #555555;
}

.unclear-link, .unclear-link:hover {
  cursor: default;
  color: #000000;
  text-decoration: none;
  background: #ffffff;
}

h1.contents-title {
    color: white;
    background-color: #444444;
    font-size: 200%;
    padding: 5px 0px 5px 5px;
}

.title-bar {
    border-color: gray;
    border-style: solid;
    border-width: 0 0 1px 0;
    float: left;
    margin: 15px 0 15px;
    width: 100%;
}

h2.title {
    color: #444444;
    font-size: 150%;
    font-weight: bold;
    margin: 0;
}

h3.title {
    margin: 15px 0 15px;
    font-size: 125%;
}

.top{
    margin-bottom: 10px;
    overflow: hidden;
}

.topimg{
  float: left;
  margin-right: 10px;
  margin-top: 20px;
    img {
      width: 200px !important;
      max-width: 200px !important;
      min-width: 200px !important;
  }
}

.toptitle{
  display: table-cell;
  height: 113px;
  vertical-align: middle;
}

.topbelong{
    font-size: 20px;
}

.topname{
    font-size: 14px;
}

@media (min-width: $screen-xs-min) {
  .right{
    float: right;
    margin: 13px 13px 13px 13px;
  }
}

iframe {
  width: 100%;

  @media (min-width: $screen-sm-min) {
    max-width: $screen-sm-min - 10px;
  }
}

.main-content img{
  max-width: 100%;
  height: auto;
  margin: 4px;

  @media (max-width: $screen-xs-min) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
  }

  @media (min-width: $screen-xs-min) {
    max-width: $screen-xs-min - 90px;
    min-width: $screen-xs-min - 90px;
  }
}

figure {
  margin-bottom: 3em;
}

.content img {
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  border-radius: 4px;
}
