// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archive-hover:hover{
  color: #000000;
}

.article-author{
  text-align: right;
}

.article-info{
  float: right;
}

.box{
  padding: 1em;
  border: solid 2px silver;
  border-radius: 5px;
  margin: 0em 0em 1em 0em;
  line-height: 1.5em;
}

.border, .side-title{
  margin: 0px 0px 5px 0px;
}

.side_bar{
  padding: 1em;
  border: solid 2px silver;
  border-radius: 5px;
  line-height: 1.5em;
}

.comment-body, .comment-article-title{
  margin: 0px 0px 0px 0px;
  font-size: 0.9em;
}

.comment-name{
  margin: 0px 0px 0px 0px;
  text-align: right;
  font-size: 0.9em;
}

.title {
   font-size: 150%;
   color: gray;
   font-weight: bold;
}

.title-header {
    border-color: gray;
    border-style: solid;
    border-width: 0 0 1px 10px;
    float: left;
    margin: 5px 0 5px;
    padding: 0 0 0 10px;
    width: 100%;
}

.clear {
    clear: both;
}

#search-article {
    padding: 15px 0px;
}

.preview_area {
    margin: 10px;
    padding: 10px;
    border: solid 2px silver;
    border-radius: 5px;
}

#preview {
  min-height: 400px;
}


#side-bar-open-button{
    position: fixed;
    right: 16px;
    bottom: 16px;
}

.private {
    border-color: #ff9933;
    color: #ff9933;
}

.private-title-header {
    @extend .private;
    @extend .title-header;
}

.link-boxes {
  border-radius: 5px;
  margin: 0px 0px 13px 0px;
  line-height: 1.5em;
}

.link-box {
  padding: 8px 0 8px 0;
  @extend .text-center;
}
