// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.archive-hover:hover{
  color: #337ab7;
}

.article-author{
  text-align: right;
}

.article-info{
  float: right;
}

.box{
  padding: 1em;
  border: solid 2px silver;
  border-radius: 5px;
  margin: 0em 0em 1em 0em;
  line-height: 1.5em;
}

.border, .side-title{
  margin: 0px 0px 5px 0px;
}

.side_bar{
  padding: 1em;
  border: solid 2px silver;
  border-radius: 5px;
  line-height: 1.5em;
}

.comment-body, .comment-article-title{
  margin: 0px 0px 0px 0px;
  font-size: 0.9em;
}

.comment-name{
  margin: 0px 0px 0px 0px;
  text-align: right;
  font-size: 0.9em;
}

.title-bar {
    border-color: gray;
    width: 100%;
    border-width: 0px 0px 1px 10px;
    padding: 0 0 0 10px;
    margin: 0px 0px 5px 0px;
    border-style: solid;
    float: left;
}

.title {
   font-size: 150%;
   color: gray;
   font-weight: bold;
}

.clear {
    clear: both;
}

.create-article-link {
    font-weight: 500;
    font-family: inherit;
    font-size: 14px;
}

#search-article {
    padding: 15px 0px;
}

.preview_area {
    margin: 10px;
    padding: 10px;
    border: solid 2px silver;
    border-radius: 5px;
}

#side-bar-open-button{
    position: fixed;
    right: 16px;
    bottom: 16px;
}
