// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top{
    margin-bottom: 10px;
    overflow: hidden;
}

.topimg{
    float: left;
}

.topbelong{
    font-size: 26px;
}

.topname{
    font-size: 30px;
}

.blogtitle {
    position: relative;
    left: 25%;
    float: left;
    height: 80px;
}

.home{
    padding: 10em;
    border: solid 2px silver;
    border-radius: 5px;
    margin: 0em 1em 1em 0em;
    width: auto;
    background: #FFF;
    line-height: 1.5em;
    color: #333;
    clear: both;
}

.toplabel{
    background: -moz-linear-gradient(left, #696969, #f5f5f5);
    background: -webkit-gradient(linear, left top, right top, from(#696969), to(#f5f5f5));
    padding: 1px 0 0 10px;
    margin: -16px -16px 0 -16px;
}

h1.contents-title{
    color: #FFF;
    font-size: 26px;
    margin: 5px 0;
}
